html,
body,
* {
  background-color: f4f1de;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
}
.parent {
  font-size: 30px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
h2 {
  background-color: f2cc8f;
  color: rgb(2, 84, 109);
}
p {
  margin-top: 2rem;
  font-size: 2.5rem;
  background-color: f2cc8f;
  color: rgb(2, 84, 109);
}
.child {
  background-color: f2cc8f;
  width: 26%;
  margin-top: 6rem;
  margin-left: 4 rem;
  margin-right: 4 rem;
  text-align: center;
  font-size: 5.5rem;
  border: 2rem solid rgb(0, 87, 114);
  border-radius: 15px;
  height: 50rem;
  padding-top: 30px;
}
