html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  gap: 4rem;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  background-color: f4f1de;
}
@keyframes fadeInAnimation {
  0% {
    background-color: f4f1de;
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1080px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }
}
.gallery {
  background-color: f4f1de;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
}
h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 7rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(2, 84, 109);
  text-align: center;
  background-color: f2cc8f;
  border: 1.7rem solid rgb(0, 87, 114);
  border-radius: 1.5rem;
  width: 26%;
  box-shadow: solid rgb(0, 87, 114);
}
h2 {
  font-family: "Montserrat", sans-serif;
  background-color: f2cc8f;
  color: rgb(2, 84, 109);
}
p {
  font-family: "Montserrat", sans-serif;
  margin-top: 28rem;
  font-size: 2.5rem;
  background-color: f2cc8f;
  color: rgb(2, 84, 109);
}
.box {
  background-color: f2cc8f;
  width: 26%;
  margin-top: 6rem;
  text-align: center;
  font-size: 5.5rem;
  border: 2rem solid rgb(0, 87, 114);
  border-radius: 1.5rem;
  height: 50rem;
  padding-top: 3rem;
  box-shadow: 1rem 1rem 5rem rgb(0, 62, 98);
  background-repeat: no-repeat;
  background-size: 30rem 22.5rem;
  background-position: center;
  transition: all 0.2s;
}

#box-1 {
  background-image: url(img/cucumbers.jpg);
}
#box-2 {
  background-image: url(img/broccoli.png);
}
#box-3 {
  background-image: url(img/taro.jfif);
}
#box-4 {
  background-image: url(img/lettuce.jpg);
}
#box-5 {
  background-image: url(img/tomato.jpg);
}
#box-6 {
  background-image: url(img/onions.jpg);
}
#box-7 {
  background-image: url(img/cabbage.jfif);
}
#box-8 {
  background-image: url(img/potato.jfif);
}
#box-9 {
  background-image: url(img/celery.jpg);
}
#h1 {
  transform: scale(1);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgb(0, 87, 114);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 4px rgb(0, 87, 114);
  }

  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgb(0, 87, 114);
  }
}
#box-1:hover {
  transform: rotateY(35deg);
}
#box-2:hover {
  transform: scale(1.1);
}
#box-3:hover {
  transform: scale(0.9);
}
#box-4:hover {
  transform: rotateX(25deg);
}
#box-5:hover {
  transform: translatex(100px);
}
